- provide(:title, '設定')

h2 各種設定
p とりあえず機能だけを作る(見た目は後回し)

/ dl
/   dt アカウント情報編集機能
/   dd= link_to 'アカウント情報変更、削除', edit_user_registration_path
/   dt 大項目、中項目編集機能
/   dd= link_to '大項目一覧、追加、編集、削除', primary_item_lists_path

/ ul 
/   li 出費一覧を月ごとに表示
/   li 出費一覧の検索機能

ul.list
  li.list-item = link_to 'アカウント情報変更、削除', edit_user_registration_path
  li.list-item = link_to '大項目一覧、追加、編集、削除', primary_item_lists_path

  
